@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,700&display=swap');


body{
    background:rgb(184, 89, 57);
    font-family: 'Montserrat';
    margin: 0;
    height: 100vh;
    position:relative;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;

}
a{
    text-decoration: none;
 }
  img{width:100%;}
  .nav-container{
      
      a{
          color:white;
      }
  }
  header{
      display:flex;
      justify-content: space-between;
      padding:2em;
      background:rgba(172, 77, 45, 0.8);

      .logo{
          color:white;
          font-weight: bold;
      }
  
   nav{
       float:right;

       ul{
           display:flex;
       }
       a{
           display:block;
           padding:0 1em;
       }
       
   }
   
}

.left{
    position:relative;

}
.imglogo{
    position:absolute;
    top:100px;
    left:80px;
}
section{
    background-color: rgba(184, 89, 57, 0.8);
    position:relative;
}
.right{
    color: white;
    display:inline-block;

    position: absolute;
    top:100px;
    right:120px;
}
